.cell-wrapper {
    margin: 5px;
    padding: 2px;
    display: block;
    white-space: pre;
  }

.cell-wrapper:after {
    content: "";
    clear: both;
    display: block;
}

.cell-outer {
    display:flex;
    flex-direction: row;
    justify-content: left;
}

.cell-execution-count {
    margin-right: 5px;
    font-weight: bold;
  }

.cell-result-container {
}
.cell-input {
      margin: 0;
}

.cell-output {
    margin-top: 5px;
}

.cell-output-vscode-light {
    background: whitesmoke;
}

.cell-output-vscode-dark {
    background: dimgray;
}
